@import '../../css/utility';

/*** Grid ***/

/*** display-flex ***/
$justifyContent: flex-start, center, flex-end, space-between, space-around;
$alignItems: flex-start, center, flex-end, stretch;

/*** Grid ***/
/* Mapping BreakPoints for Responsive */

// @mixin breakPoints($name) {
//   @media screen and (min-width: map-get($breakPoints, $name)) {
//     @content;
//   }
// }
/*** BreakPoint Vars:
  $bkp_xs: 480px;
  $bkp_sm: 768px;
  $bkp_md: 1280px;
  $bkp_lg: 1440px;
  $bkp_xl: 1920px;
***/
/*** 12 Column ***/

// Breakoint loop 1 to 12
@mixin createPoints($propsName, $point) {
  @media screen and (min-width: $point) {
    @for $i from 0 to 12 {
      &_#{$propsName}_#{$i} {
        flex-basis: $i / 12 * 100%;
      }
    }
  }
}

/*** 24 Column ***/
// Breakoint loop 1 to 24
@mixin createPoints_24($propsName, $point) {
  @media screen and (min-width: $point) {
    @for $i from 0 to 24 {
      &_#{$propsName}_#{$i} {
        flex-basis: $i / 24 * 100%;
      }
    }
  }
}

.Grid {
  &_container {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    display: block;
    width: 100%;
  }

  /* Grid 12-Column  */
  // @for $i from 0 to 12 {
  //   &_cols_#{$i} {
  //     flex-basis: $i / 12 * 100%;
  //   }
  // }

  /* Grid 24-Column  */
  @for $i from 0 to 24 {
    &_cols-24_#{$i} {
      flex-basis: $i / 24 * 100%;
    }
  }

  /*** 12 Column ***/
  @include createPoints('xs', $bkp_xs);
  @include createPoints('sm', $bkp_sm);
  @include createPoints('md', $bkp_md);
  @include createPoints('lg', $bkp_lg);
  @include createPoints('xl', $bkp_xl);

  /*** 24 Column ***/
  @include createPoints_24('xs_24', $bkp_xs);
  @include createPoints_24('sm_24', $bkp_sm);
  @include createPoints_24('md_24', $bkp_md);
  @include createPoints_24('lg_24', $bkp_lg);
  @include createPoints_24('xl_24', $bkp_xl);

  // if use Map 'xs' | 'sm' | 'md' | 'lg' | 'xl'
  // @include breakPoints('xs') {
  //   @for $i from 0 to 12 {
  //     &_xs_#{$i} {
  //       flex-basis: $i / 12 * 100%;
  //     }
  //   }
  // }

  /* Spacing */
  @each $name, $value in $spacing {
    &_spacing_#{$name} {
      margin: -$value;
    }

    &_spacing_#{$name} > &_item {
      padding: $value;
      background-color: lighten(gray, 40%);
    }
  }

  @each $var in $justifyContent {
    &_justifyContent_#{$var} {
      justify-content: $var;
    }
  }

  @each $var in $alignItems {
    &_alignItems_#{$var} {
      align-items: $var;
    }
  }
}
