.button {
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	right: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.primary {
	background-color: #008cba;
}
.success {
	background-color: rgb(67, 172, 102);
}
.danger {
	background-color: #e6371f;
}
.warning {
	background-color: #dbb22c;
}
