.btn {
    right: 16px;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4em;
    min-width: 240px;
}

.btn-primary {
    background-color: #008cba;
}

.btn-success {
    background-color: rgb(67, 172, 102);
}

.btn-danger {
    background-color: #e6371f;
}

.btn-warning {
    background-color: #dbb22c;
}