/* Variant */

$mainColor: darken(tomato, 10%);
$primaryColor: desaturate($mainColor, 20%);
$secondaryColor: adjust-hue($primaryColor, 90deg) - lighten($primaryColor, 8%);
$shadow_Main: darken($mainColor, 8%);
$complementColor: complement($primaryColor);

/* Spacing */

$spacing: (
  'none': 0px,
  'xxxs': 2px,
  'xxs': 4px,
  'xs': 8px,
  'sm': 12px,
  'md': 16px,
  'lg': 24px,
  'xl': 32px,
  'xxl': 40px,
  'xxxl': 48px,
);

/*** --- BreakPoints for Responsive --- ***/

/* BreakPoints for Var */
$bkp_xs: 480px;
$bkp_sm: 768px;
$bkp_md: 1280px;
$bkp_lg: 1440px;
$bkp_xl: 1920px;

/* BreakPoints for Map */
$breakPoints: (
  'xs': $bkp_xs,
  'sm': $bkp_sm,
  'md': $bkp_md,
  'lg': $bkp_lg,
  'xl': $bkp_xl,
);

/* position */

.pos {
  &_rel {
    position: relative;
  }

  &_abs {
    position: absolute;
  }
}
