.btn {
  // right: 16px;
  display: inline-block;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  // color: white;
  // border: none;
  border-radius: 4em;
  min-width: 120px;
}

.btn-primary {
  background-color: #008cba;
}

.btn-success {
  background-color: rgb(67, 172, 102);
}

.btn-danger {
  background-color: #e6371f;
}

.btn-warning {
  background-color: #dbb22c;
}

/* =================== */

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

/* Color */
.btn-primary {
  color: white;
  background-color: #1ea7fd;
}
.btn-success {
  color: white;
  background-color: #40a340;
}
.btn-danger {
  color: white;
  background-color: tomato;
}

/* Bool */
.btn-secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

/* Size */
.btn-size-small {
  font-size: 12px;
  padding: 10px 16px;
}
.btn-size-medium {
  font-size: 14px;
  padding: 11px 20px;
}
.btn-size-large {
  font-size: 16px;
  padding: 12px 24px;
}
.btn-size-x-large {
  font-size: 20px;
  padding: 16px 28px;
}
.btn-width-full {
  width: 100%;
  max-width: 480px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
