@import '../../css/utility';

.GridRuler,
.GRIDRULER_24 {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);

  &_item {
    border: 1px solid rgba(lighten(gray, 20%), 0.2);
    background-color: rgba($color: darken(aliceblue, 25%), $alpha: 0.1);
    // filter: brightness(25%)saturate(75%);
  }

  @each $name, $value in $spacing {
    &_spacing_#{$name} {
      gap: $value * 2;
    }
  }
}

.GRIDRULER_24 {
  grid-template-columns: repeat(24, 1fr);
}
